<?xml version="1.0"?>
<configuration>
	<configSections>
		
    <!--
    <section name="Altai.MSCrm" type="Altai.MSCrm.MSCrm5ConfigurationSection,Altai.Commons.Crm2011"/>
    -->
    <section name="Altai.MSCrm" type="Altai.MSCrm.MSCrmConfigurationSection,Altai.Commons.Crm4"/>
		<section name="CrmShell" type="CrmShell.CrmShellConfigurationSection,CrmShell"/>
	</configSections>
  <!-- 
  crmServiceUrl="http://localhost:61476/Service1.svc"
  -->
	<Altai.MSCrm 
    
    crmServiceUrl="http://192.168.0.107:5555/MSCrmServices/2007/CrmService.asmx"
		crmMetadataServiceUrl="http://localhost:5555/MSCrmServices/2007/MetadataService.asmx" 
		credentialUsername="administrator" 
		credentialPassword="" 
		credentialDomain="crmdom"
		useMock="false"
		persistMockData="true"
		mockDataFile="C:\Users\Administrator\Desktop\altai-dev\FakeCRM\FakeCRM\crm-mock-asmx\db.xml"
		/>
  <!--
    crmServiceUrl="http://altaidev1:5555/crmshell/XRMServices/2011/Organization.svc"
    -->
  <CrmShell
		localBizorg="bacb"
		/>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.Crm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
      <publisherPolicy apply="no"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.Crm.SdkTypeProxy" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
      <publisherPolicy apply="no"/>
    </dependentAssembly>
  </assemblyBinding>
  </runtime>
</configuration>
