<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--
    <section name="Altai.MSCrm" type="Altai.MSCrm.MSCrm5ConfigurationSection,Altai.Commons.Crm2011"/>
    -->
    <section name="Altai.MSCrm" type="Altai.MSCrm.MSCrmConfigurationSection,Altai.Commons.Crm4"/>
  </configSections>

  <!--
  crmServiceUrl="http://altaidev1:5555/altai2011/XRMServices/2011/Organization.svc"
  crmServiceUrl="http://localhost:61476/Service1.svc"
  
  // navy league
  http://localhost:9982/MSCRMServices/2007/CrmService.asmx
  
  // local debug mock
  http://localhost:63420/crm-mock-asmx/Service.asmx
  -->
  <Altai.MSCrm
    crmServiceUrl="http://localhost:9982/MSCRMServices/2007/CrmService.asmx"
    crmMetadataServiceUrl="http://192.168.0.107:5555/mscrmservices/2007/metadataservice.asmx"
    credentialUsername="Administrator"
    credentialPassword=""
    credentialDomain="CRMDOM"
    useMock="false"
    persistMockData="true"
    mockDataFile="gen.xml"
    />

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.SdkTypeProxy" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
